[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
version = "0.1.3"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/arkavo-ai/torg"

[workspace.dependencies]
thiserror = "1.0"
criterion = "0.5"
